body {
    background-image: url('../img/yadro_bg4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    margin: 150px 0;
}

.logo {
    width: 96px;
    height: 70px;
    margin-left: 40px;
    margin-top: 30px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 540px;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.toggle-button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 10px;
    position: relative;
}

.toggle-button.active {
    position: relative;
}

.toggle-button.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255);
    border-radius: 5px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0 52px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 540px;
}

#recovery-form-container {
    display: none;
}

h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
    padding-top: 35px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 25px;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
}

#label-text {
    margin-top: 30px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    padding: 8px 20px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #999;
    color: #696969;
    background-color: #e0e0e0;
    outline: none;
}

.input-error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.required {
    position: absolute;
    right: 10px;
    color: #999;
    pointer-events: none;
}

.submit-button {
    width: 100%;
    height: 50px;
    margin-top: 32px;
    padding: 10px;
    background-color: #1d22b1;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}

.submit-button:hover {
    background-color: #0056b3;
}

#recovery-button {
    margin-bottom: 30px;
}

.note {
    font-size: 1rem;
    color: #777;
    margin-top: 20px;
    margin-bottom: 30px;
}

